@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background-image: url("./assets/images/more/15.jpg");
}
.banner {
  background-image: url("./assets/images/more/3.png");
}
.form-container {
  background-image: url("./assets/images/more/11.png");
}
